[data-help-content] {
  display: none;
}

[data-help]:after {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z' stroke='%23F6F7F9' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 5.6C8.44182 5.6 8.8 5.24183 8.8 4.8C8.8 4.35817 8.44182 4 8 4C7.55817 4 7.2 4.35817 7.2 4.8C7.2 5.24183 7.55817 5.6 8 5.6Z' fill='%23F6F7F9'/%3E%3Cpath d='M8 11.5992V7.19922' stroke='%23F6F7F9' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  position: absolute;
  z-index: 10;
  width: 1rem;
  height: 1rem;
  color: #9ca3af;
}

.prose.md\:prose-lg :where(h2):not(:where([class~="not-prose"] *)) {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #F6F7F9;
}

@media (min-width: 640px) {
  .prose.md\:prose-lg :where(h2):not(:where([class~="not-prose"] *)) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 768px) {
  .prose.md\:prose-lg :where(h2):not(:where([class~="not-prose"] *)) {
    font-size: 1.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
